.bigDayBox {
    position: absolute;
    border: 1px solid black;
    margin-top: 12%;
    margin-left: 25%;
    top: 0;
    left: 0;
    width: 40%;
    height: 65%;
    z-index: 1;
    background: grey;
    border-radius: 10px;
}

#title_big_day {
    text-align: center;
    margin-top: 5%;
}

#bigDayEvents {
    max-height: 55vh;
    overflow-y: auto;
    margin-left: 21%;
    padding-right:20%;
}

.priority {
    width: 114%;
    padding: 1%;
    border-radius: 6px;
}

#event_text
{
    text-align: center;
}

#H {
    background-color: red;
}

#M {
    background-color: orange;
}

#L {
    background-color: green;
}

#doneButton 
{
    float: right;
    margin-right: 5%;
}

#create_event_button
{
    margin-left:34%;
    margin-bottom:3%;
}

#delete_button
{
    margin-left:34%;
}
