.dayBox {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    /* vertical-align: middle; */
    line-height: 100px;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}